.dialog{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #eee;
    padding: 10px 20px 40px;
    border-radius: 8px;
    /* display: flex;
    flex-direction: column; */
}
.lower{
    margin-top: 40px;
}