.table-content {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;

  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-content thead tr {
  background-color: #99cc00;
  color: #ffffff;
  font-weight: bold;
}

.table-content th,
.table-content td {
  padding: 12px 15px;
}

.table-content tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:hover {
  background-color: #add8e6;
}

.table-content tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.details-link {
  text-decoration: none;
  color: black;
}

.details-link:hover {
  color: #009879;
}
.deleteButton {
  /*background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);*/
  /*background-color:#d0451b;*/
  border-radius: 42px;
  border: 1px solid #942911;
  /*display: inline-block;*/
  cursor: pointer;
  color: #030303;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 6px;
  text-decoration: none;
  object-position: center;
  background-color: white;
  vertical-align: middle;
}
.delete-button:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  color: white;
}
.delete-button:active {
  position: relative;
  top: 1px;
}
.sort-arrow {
  cursor: pointer;
}
.date-picker {
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0;
}
