.userContainer {
  width: 90vh;
  background-color: rgba(173, 216, 230, 0.2);
}

.userData {
  text-align: left;
  padding-left: 3rem;
}

.margin {
  margin: 0.2rem 0.5rem;
}

.info {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 25px;
}
.empty {
  background-color: red;
  border: 2px solid rgba(255, 0, 0, 0.082);
}

.down {
  margin-top: 3rem;
}
.address {
  border: 0;
}
#number,
#postal {
  width: 100px;
}
