.tableContent {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableContent thead tr {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;

}

.tableContent th,
.tableContent td {
    padding: 12px 15px;
}

.tableContent tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tableContent tbody tr:hover {
    background-color: #ADD8E6;
}

.tableContent tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.detailsLink {
    text-decoration: none;
    color:black;
}

.detailsLink:hover {
    color: #009879;
}
